---
import ClockComponent from '../components/ClockComponent.vue';

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro + Vue Query Params</title>
  </head>
  <body>
    <h1>Astro con Vue</h1>
    <ClockComponent client:load/>
  </body>
</html>
