
<div>
    <h1>My Astro Demo</h1>
    <p>This is a demo of Astro</p>
    <a href="/">Back</a>
</div>

<script>
const urlSearchParams = new URLSearchParams(window.location.search);
const params = Object.fromEntries(urlSearchParams.entries());
console.log('params', params);
</script>
